#ms_travels{
    padding: 125px 0;

    .row{

        justify-content: center;

        .ms_travel{

            margin: 25px;
            padding: 25px;

            text-align: center;
            color: white;
            border: 2.5px solid darkgray;

        }
    }
}